
.single-comment{
color:#f7f7f7;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size:12px;
}

.label{
font:inherit;
color:inherit;
font-size:inherit;
}

.rating-block{
float:left;
}

.rating-block.k{
margin-left: 2em;}

.rating-block.f{
margin-left: 2em;}



.rating.label{
font-weight:bold;
margin-left:0px;
padding-left:0em;}

.star-rating{
margin-left:0em;}

.single-comment{
font:inherit;
font-size:14px;
color:inherit;
margin-right: 0;
margin-left:10px;
}


.col-sm-5{
width:50% !important;
max-height:10% !important;
}
.date-container{
font-size:10px;
padding-left:10px;
float:right;
font:inherit;
}

#nick{
max-width:25%}

#content{
min-height:10em;
min-width:100%;
max-width:100%;
height:10em;
max-height:10em;}

.comment-text{
overflow: auto;
max-width:inherit;}

#submit_btn{
font-size:18px;
width:100px;
height:50px;
float:right;
}

.jumbotron{
padding-top:35px;
padding-bottom:70px;
margin-bottom:0px;
margin-top:0px;}

.lecturer_info_1{
min-width:20%;
max-width:50%;}

.lecturer_info_2{
float:right;
max-width:45%;
margin-right: inherit;
position:relative;
bottom: 350px;}

.info_head{
float:left;
margin-right:0px;
margin-bottom:
font-weight:bold;}

.info_text{
padding-left: 8em;
padding-top:10px;
margin-right:0px;
font-size:10px;
position:relative;
top:10px;
}

.info_block{

min-height:10px;
margin-right:0px;
padding-bottom:35px;
margin-bottom:0px;
}

.info{
max-height: 100px;
padding-bottom:150px;
margin-bottom:10px;
margin-top:20px;}

.container{
padding-left:0px;

}

#cont1{
max-height: 500px;}