{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="jumbotron">
{% if form.errors %}
<p>Podano błędny login lub hasło. Spróbuj ponownie.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Nie masz uprawnień do przejścia na tą stronę. Użyj innego konta z odpowiednimi uprawnieniami.</p>
    {% else %}
    <p>Aby przejść dalej musisz się zalogować</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
    {{ form.non_field_errors }}

<table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    {% if form.username.errors %}
    <tr>
    {% for error in form.username.errors %}
        <td class="text-danger">{{ error }}</td>
    {% endfor %}
    {% endif %}
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
    </tr>
    {% if form.password.errors %}
    <tr>
    {% for error in form.password.errors %}
        <td class="text-danger">{{ error }}</td>
    {% endfor %}
    {% endif %}
    </tr>
</table>

<input class="btn btn-primary" type="submit" value="Zaloguj się" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

        <p><a href="/register">Nie masz jeszcze konta?</a></p>
        <!--<p2><a href="{% url 'password_reset' %}">Nie pamiętasz hasła?</a></p2>-->
    </div>
</div>

{% endblock %}