{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="jumbotron">
{% if form.errors %}
<p>Coś poszło nie tak. Spróbuj ponownie.</p>
{% endif %}

<form method="post" action="{% url 'password_change' %}">
{% csrf_token %}
    {{ form.non_field_errors }}

<table>
    <tr>
        <td>Stare hasło:</td>
        <td>{{ form.old_password }}</td>
    </tr>
    {% if form.old_password.errors %}
    <tr>
    {% for error in form.old_password.errors %}
        <td class="text-danger">{{ error }}</td>
    {% endfor %}
    {% endif %}
    </tr>
    <tr>
        <td>Nowe hasło:</td>
        <td>{{ form.new_password1 }}</td>
    </tr>
    {% if form.new_password1.errors %}
    <tr>
    {% for error in form.new_password1.errors %}
        <td class="text-danger">{{ error }}</td>
    {% endfor %}
    {% endif %}
    </tr>
    <tr>
        <td>Potwierdź nowe hasło:</td>
        <td>{{ form.new_password2 }}</td>
    </tr>
    {% if form.new_password2.errors %}
    <tr>
    {% for error in form.new_password2.errors %}
        <td class="text-danger">{{ error }}</td>
    {% endfor %}
    {% endif %}
    </tr>
</table>

<input class="btn btn-primary" type="submit" value="Zmień hasło" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
    </div>
</div>

{% endblock %}