{% extends "base.html" %}

{% block content %}
{% if profiles %}
  {% for profile in profiles %}
    <div class="container">
<!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
         <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
        <h1>{{profile.name}} {{ profile.surname }}</h1>
          <p>
          {% if profile.info %}
            {{ profile.info }}
          {% endif %}
          </p>
          <p>
          <a class="btn btn-lg btn-primary" href='{% url "rate" pk=profile.pk %}' role="button">Oceń!&raquo;</a>
        </p>
      </div>
</div>
  {% endfor %}
  <div class="container">
    <div class="jumbotron">
      <h3>Nie znalazłeś prowadzącego? <a href="/add">Utwórz jego profil</a></h3>
    </div>
  </div>
{% else %}
  <div class="container">
    <div class="jumbotron">
      <h2>Brak wyników wyszukiwania!</h2>
      <h3>Nie znalazłeś prowadzącego? <a href="/add">Utwórz jego profil</a></h3>
    </div>
  </div>
{% endif %}

{% endblock %}

