{% extends "base.html" %}


{% block additional-styles %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'rate.css' %}">

{% endblock %}
{% block content %}

{% if profile %}

<div class="container">
<!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
          <div class="lecturer_info_1">
          <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
        <h1>{{profile.name}} {{ profile.surname }}</h1>
              </div>

          <div class="lecturer_info_2">

              <div class="info_block info">
              <h2 class="info_head">Informacje:</h2>
      {% if profile.info %}
              <p class="info_text">
            {{ profile.info }}
          </p>
                  {% else %}
                  <p class="info_text">Brak informacji</p>
          </div>
              {% endif %}


              <div class="info_block">

                  <h3 class="info_head">Miejsce pracy:</h3>
                  {% if work_names %}
                        <p class="info_text"> {% for name in work_names %}{{name}}, {% endfor %}</p>
                  {% else %}
                  <p class="info_text">Brak danych</p>
                  {% endif %}
               </div>
              <div class="info-block">
                  <h3 class="info_head">Miejscowość:</h3>
              {% if work_towns %}
                <p class="info_text">{% for town in work_towns %}{{town}}, {% endfor %}</p>
                {% else %}
                 <p class="info_text">Brak danych</p>
                {% endif %}
                  </div>
              </div>
      </div>

</div>

<div class="container">
    <div class="jumbotron">
<form method="POST">
    {% csrf_token %}
    <div class="row">
        <p>
     <label id="nick-label" for="nick">Pseudonim:</label>
    <input class="form-control" type="text" name="nick" id="nick" size="60">
       </p>
        <p>
    <label for="content">Treść komentarza:</label>
    <textarea class="form-control" type="text" name="content" id="content" rows="3"></textarea>
    </p>

    </div>
    <div class="row">
        <div class="rating-block t">
            <label class="rating label t" for="teaching_rating">Nauczanie</label>
            <div class="star-rating" id="teaching_rating">
                <span class="fa fa-star-o t" data-t_rating="1"></span>
              <span class="fa fa-star-o t" data-t_rating="2"></span>
              <span class="fa fa-star-o t" data-t_rating="3"></span>
              <span class="fa fa-star-o t" data-t_rating="4"></span>
              <span class="fa fa-star-o t" data-t_rating="5"></span>
              <input type="hidden" name="teaching_val" class="rating-value t" value="3">
            </div>
        </div>
        <div class="rating-block k">
            <label class="rating label k" for="knowledge_rating">Wiedza</label>
            <div class="star-rating" id="knowledge_rating">
              <span class="fa fa-star-o k" data-k_rating="1"></span>
              <span class="fa fa-star-o k" data-k_rating="2"></span>
              <span class="fa fa-star-o k" data-k_rating="3"></span>
              <span class="fa fa-star-o k" data-k_rating="4"></span>
              <span class="fa fa-star-o k" data-k_rating="5"></span>
              <input type="hidden" name="knowledge_val" class="rating-value k" value="3">
            </div>
        </div>
     <div class="rating-block f">
          <label class="rating label f" for="friendliness_rating">Nastawienie do studentów</label>
        <div class="star-rating" id="friendliness_rating">
          <span class="fa fa-star-o f" data-f_rating="1"></span>
          <span class="fa fa-star-o f" data-f_rating="2"></span>
          <span class="fa fa-star-o f" data-f_rating="3"></span>
          <span class="fa fa-star-o f" data-f_rating="4"></span>
          <span class="fa fa-star-o f" data-f_rating="5"></span>
          <input type="hidden" name="friendliness_val" class="rating-value f" value="3">
        </div>
     </div>
         <p>
        <input type="submit" id="submit_btn" class="btn btn-primary" value="Dodaj" />
    </p>
</div>
</form>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-sm-12">
<h3>Komentarze </h3>
</div><!-- /col-sm-12 -->
</div><!-- /row -->

{% if comments%}
{% for comment in comments%}
<div class="single-comment">
<div class="row">

<div class="col-sm-1">
<div class="thumbnail">
<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
</div><!-- /thumbnail -->
</div><!-- /col-sm-1 -->

<div class="col-sm-5">
<div class="panel panel-default">
<div class="panel-heading">
<strong>{{comment.nickname}}</strong> <em class="date-container" id="date">{{comment.date | date:"d/m/Y   H:i" }}</em> <span class="text-muted">


   <ul>
    <li>Nauczanie:
        {% for i in "xxxxx" %}
        {% if  forloop.counter <=  comment.teaching %}
         <span class="fa fa-star f"></span>
        {% else %}
          <span class="fa fa-star-o f"></span>
        {% endif %}
        {% endfor %}
       </li>
    <li>Wiedza:  {% for i in "xxxxx" %}
        {% if  forloop.counter  <=  comment.knowledge %}
         <span class="fa fa-star f"></span>
        {% else %}
          <span class="fa fa-star-o f"></span>
        {% endif %}
        {% endfor %}</li>
    <li>Stosunek do studentów: {% for i in "xxxxx" %}
        {% if  forloop.counter <=  comment.friendliness %}
         <span class="fa fa-star f"></span>
        {% else %}
          <span class="fa fa-star-o f"></span>
        {% endif %}
        {% endfor %}</li>
    </ul>
</span>
</div>

<div class="panel-body">
<p class="comment-text">{{comment.text}}</p>
</div><!-- /panel-body -->
</div><!-- /panel panel-default -->
</div><!-- /col-sm-5 -->

</div>
</div>
{% endfor %}
{%else%}
<li>Bądź pierwszy i oceń {{profile.name }} {{profile.surname}}</li>
{%endif%}

{% else %}
  <p>Brak prowadzących!!!</p>
    <a href="/add/">Dodaj prowadzącego!</a>
{% endif %}

{% endblock %}
 {% block page-script-bottom %}

<script type="text/javascript">
var $star_rating = $('.star-rating .fa');

var SetRatingStar = function() {
  return $star_rating.each(function() {
    if($(this).hasClass('t')){
        if (parseInt($star_rating.siblings('input.t').val()) >= parseInt($(this).data('t_rating'))) {
            return $(this).removeClass('fa-star-o').addClass('fa-star');
        } else {
         return $(this).removeClass('fa-star').addClass('fa-star-o');
        }
    }
    else if($(this).hasClass('k')){
        if (parseInt($star_rating.siblings('input.k').val()) >= parseInt($(this).data('k_rating'))) {
            return $(this).removeClass('fa-star-o').addClass('fa-star');
        } else {
         return $(this).removeClass('fa-star').addClass('fa-star-o');
        }
    }
    else if($(this).hasClass('f')){
        if (parseInt($star_rating.siblings('input.f').val()) >= parseInt($(this).data('f_rating'))) {
            return $(this).removeClass('fa-star-o').addClass('fa-star');
        } else {
         return $(this).removeClass('fa-star').addClass('fa-star-o');
        }
    }

  });
};

$star_rating.on('click', function() {
    if($(this).hasClass('t')){
        $star_rating.siblings('input.t').val($(this).data('t_rating'));
    }
    else if($(this).hasClass('k')){
        $star_rating.siblings('input.k').val($(this).data('k_rating'));
    }else if($(this).hasClass('f')){
        $star_rating.siblings('input.f').val($(this).data('f_rating'));}
  return SetRatingStar();
});



$star_rating.on('mouseover', function() {
  $star_rating.css('cursor', 'pointer');

});

<!--Function below changes flat strings to multiline ones. --!>
$( document ).ready(function(){
    $('.comment-text').each(function()
    {
        var text = $(this).text();
        var textArrays = text.match(/.{1,63}/g);

        var output = new Array();
        var length = 3;
        for (var i = 0; i < textArrays.length; i += 1) {
            var element = textArrays[i];
            output.push(element.concat("\n"));
        }
        var newText = output.join("");

        $(this).text(newText);
        });
});
SetRatingStar();
</script>
{% endblock %}