{% extends "base.html" %}

{% block content %}

{% if profile %}

    <div class="container">
<!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>{{profile.name}} {{ profile.surname }}</h1>
          <p>
          {% if profile.info %}
            {{ profile.info }}
          {% endif %}
          </p>

      </div>
</div>
<div>
<form method="POST">
    {% csrf_token %}
    <input type="text" name="content">
    <input type="submit" class="btn btn-default" value="Dodaj" />
</form>
</div>
{% else %}
  <li>No lecturers!!!</li>
{% endif %}

{% endblock %}