{% extends "base.html" %}

{% block content %}
<div class="container">
    <form method="POST" class="form-inline">
        {% csrf_token %}
          <div class="jumbotron">
              <h2>Szukaj prowadzącego</h2>
              <p>
                  <input class="form-control" name="Surname" type="text" placeholder="Nazwisko lub dziedzina" maxlength="50" size="40">
              </p>
              <p>
                  <input class="form-control" name="WorkPlace" type="text" placeholder="Uczelnia lub miejscowość" maxlength="50" size="40">

              </p>
                <button class="btn btn-primary btn-lg" type="submit">Szukaj</button>
          </div>
    </form>
</div>

{% endblock %}